<!DOCTYPE html>
<html lang="en">

<head>
    <!-- general meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site specific tags -->
    <title></title>
    <!-- style sheets -->
    <link rel="stylesheet" href="css-reset.css">
    <link rel="stylesheet" href="adv.css">

</head>

<body>
    <header>

        <nav>
            <a href="/home-page"> <button>Back</button></a>
        </nav>
    </header>
    <main>
       <!-- Advisory-page.ejs -->
<form action="/advisory" method="POST">
    <!-- Your form inputs here -->
    <button type="submit">Get Advisory</button>
  </form>
  
    </main>
    <%- include("./part/footer-part.ejs") %>