<!DOCTYPE html>
<html lang="en">
<head>
  <!-- general meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- site specific tags -->
  <title></title>
  <!-- style sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/ai-page.css">
  <!-- javascript files -->
  <script src=".js"></script>
</head>
<body>
  <header>
    
    <p>Ask Your Ai</p>
  </header>
  <main>
    <section>
        <textarea name="answer" id="answer-ai"></textarea>
    </section>
    <section>
<input type="text" name="ask" id="ask-ai">
    </section>

    <section>
        <a href="/home-page"><button>Back</button></a>
        
    </section>
  </main>
  <footer>
    
  </footer>
</body>
</html>