<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Bank Acc</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/bank-link-page.css">
</head>
<body>
    <header>
        <h1>Add bank information: (Local Banks)</h1>
    </header>

    <main>
        <form action="/submit-bank-info" method="post">
            <label for="account-holder-name">Account Holder Name (as per ID):</label><br>
            <input type="text" id="account-holder-name" name="account-holder-name" placeholder="e.g: Abdullah Ahmad" required pattern="[A-Za-z\s'.-]+" title="Cardholder name should contain letters only."><br><br>

            <label for="account-number">Account Number:</label><br>
            <input type="text" id="account-number" name="account-number" placeholder="e.g: 1234 5678 9012 3456" required pattern="number" title="Please enter Account Number"><br><br>

            <label for="iban">IBAN (International Bank Account Number):</label><br>
            <input type="text" id="iban" name="iban" placeholder="e.g: SA1234567890123456789012" required pattern="[A-Za-z0-9]{20,34}" title="Please enter a valid IBAN."><br><br>

            <label for="bank-name">Bank Name:</label><br>
            <select id="bank-name" name="bank-name" required>
                <option value="">Select Bank</option>
                <option value="Al Rajhi Bank">Al Rajhi Bank</option>
                <option value="Saudi British Bank (SABB)">Saudi British Bank (SABB)</option>
                <option value="National Commercial Bank (NCB)">National Commercial Bank (NCB)</option>
            </select><br><br>

            <input type="submit" value="Submit">
            <br><br>
            <a href="/home-page" class="btn back-btn">Back to HomePage</a>
        </form>
    </main>

<%- include("./part/footer-part.ejs") %>
 
