<%- include("./part/Header") %>
  <main>
    
    <!-- Here the user will be able to signout from the homepagee -->
    <section>
      <article>
        <a href="home.ejs" class="home-link">Home</a>
      </article>
    </section>

    <section>
      <article>
        test
      </article>
    </section>

  </main>
  <%- include("./part/Footer") %>