<%- include("./part/Header") %>
<body>
    <header>
        <nav>
            <!-- Navigation content goes here -->
        </nav>
    </header>
    <main>
        <div class="payment-card mt-50 mb-50">
            <form method="post">
                <div class="card-type-logo">
                    <img class="card-logo-img" src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
                        alt="Mastercard Logo">
                </div>
                <div class="payment-details">
                    <div class="card-type-logo">
                        <img class="card-logo-img" src="https://img.icons8.com/color/48/000000/visa.png"
                            alt="Visa Logo">
                        <span class="card-header">Card Information:</span>
                        <div class="card-holder-info">
                            <div class="form-row">
                                <span class="form-label">Cardholder Name</span>
                                <input type="text" placeholder="Bojan Viner">
                            </div>
                        </div>
                        <div class="card-number-exp-cvv">
                            <div class="form-row">
                                <span class="form-label">Card Number</span>
                                <input type="text" placeholder="5134-5264-4">
                            </div>
                            <div class="form-row">
                                <div class="exp-date">
                                    <span class="form-label">Exp. Date</span>
                                    <input type="text" placeholder="MM/YY">
                                </div>
                                <div class="cvv">
                                    <span class="form-label">CVV</span>
                                    <input type="text" placeholder="123">
                                </div>
                            </div>
                        </div>
                        <div class="payment-amount">
                            <div class="form-row">
                                <span class="form-label">Amount</span>
                                <input type="text" placeholder="1000 SAR">
                            </div>
                        </div>
                        <button class="pay-btn d-flex mx-auto"><b>Pay</b></button>
                        <button class="back-btn d-flex mx-auto"><b>Back to Homepage</b></button>
                    </div>
                </div>
            </form>
        </div>
    </main>
<%- include("./part/Footer") %>
