<%- include("./part/header-transaction-part.ejs") %>
<main class="main-content">
  <div class="payment-card mt-50 mb-50">
      <form method="post" class="payment-form">
          <div class="card-logos">
              <img src="/css/img/mastercard-logo.png" alt="Mastercard Logo" class="card-logo">
              <img src="/css/img/visa-logo.png" alt="Visa Logo" class="card-logo">
          </div>
          <fieldset method="post" class="payment-details">
              <div class="form-group">
                  <label for="cardholder-name">Cardholder Name</label>
                  <input id="cardholder-name" type="text" name="name" pattern="[A-Za-z\s.-]+" title="Cardholder name should contain letters only." placeholder="e.g: Abdullah Ahmad" required>
              </div>
              <div class="form-group">
                  <label for="card-number">Card Number</label>
                  <input id="card-number" type="text" name="number" pattern="\d{13,19}" title="Card number must be between 13 and 19 digits." placeholder="e.g: 1234 5678 9012 3456" required>
              </div>
              <div class="form-group half-width">
                  <label for="exp-date">Exp. Date</label>
                  <input id="exp-date" type="month" name="date" required title="Expiration Date.">
              </div>
              <div class="form-group half-width">
                  <label for="cvv">CVV</label>
                  <input id="cvv" type="text" name="cvv" pattern="\d{3}" title="CVV must be 3 digits." placeholder="e.g: 123" required>
              </div>
              <div class="form-group">
                  <label for="deposit-amount">Amount</label>
                  <input id="deposit-amount" type="number" min="0.01" placeholder="e.g: 1000.00 SAR" required>
              </div>
              <button type="button" class="btn pay-btn btn-block" onclick="updateBalance()">Deposit</button>
          </fieldset>
          <a href="/home-page" class="btn back-btn">Back to Homepage</a>
      </form>
  </div>
</main>

<script src="/js/depositMoney.js"></script>
<%- include("./part/footer-part.ejs") %>
</body>
</html>