<!DOCTYPE html>
<html lang="en">
<head>
  <!-- general meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- site specific tags -->
  <title></title>
  <!-- style sheets -->
  
  <link rel="stylesheet" href="css/payment.css">

</head>
<body>
  <header>
    <nav>
      <p class="bnavo">About Us</p>
      <p class="bnavt">Contact Us</p>
    </nav>
  </header>

  <main>

    <div class="container p-0">
      <div class="card px-4">
        <p class="h8 py-3">Payment Details</p>
        <div class="row gx-3">
          <div class="col-12">
            <div class="d-flex flex-column">
              <p class="text mb-1">Person Name</p>
              <input class="form-control mb-3" type="text" placeholder="Name" value="Barry Allen">
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex flex-column">
              <p class="text mb-1">Card Number</p>
              <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <p class="text mb-1">Expiry</p>
              <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <p class="text mb-1">CVV/CVC</p>
              <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
            </div>
          </div>
          <div class="col-12">
            <div class="btn btn-primary mb-3">
              <span class="ps-3">Pay $243</span> <!-- To be changed with the desired amount -->>
              <span class="fas fa-arrow-right"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
  <%- include("./part/Footer") %>