<%- include("./part/ErrorHead.ejs") %>
<main>
  <section>
    <article>
      <h2>Sorry, the page is not available :(</h2>
      <a href="./LoginPage" class="link">Back</a>
    </article>
  </section>
</main>
  <%- include("./part/LoginFoot.ejs") %>

