<%- include("./part/ErrorHead.ejs") %>
  <main>
    <section>
      <article>
        <div class="banner" id="banner">
          <h1>Welcome to Investopia</h1>
          <img src="/css/img/BannerNoTitle.png" alt="Investopia Logo" class="logo">
        </div>
        
        <p>We Are Sorry To Inform You That This Page Doesn't exsist</p>
      
        <a href="./LoginPage" class="link">Back</a>
      </article>
    </section>
  </main>
  <%- include("./part/ErrorHead.ejs") %>