<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Executive Dashboard</title>
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <header>
    <div class="logo"></div>
    <button class="expand-menu">Menu</button>
  </header>
  <aside class="sidebar">
    <ul class="menu">
      <li class="Li"><a href="/deposit-page"> Deposit </a></li>
      <li class="Li"><a href="/withdraw-page">Withdraw</a></li>
      <li class="Li"><a href="/bank-link-page">Link Bank</a></li>
      <li class="Li"><a href="/login-page">Sign Out</a></li>
    </ul>
  </aside>
  <main>
    <!-- Main dashboard content goes here -->
    <div class="dashboard-content">
      <p class="quick-link">Wallet Balance: <span>
          <%= g_walletBalance %>
      </p></span>
      <a href="/invest-options-page" class="quick-link" style="width: 300px;"> Investment Options</a>
      <a href="/my-invests-page" class="quick-link"> My Investments </a>
    </div>
    <div class="dashboard-content" id="wallet-balance">
      <a href="/PlanningAndAdv-page" class="quick-link"> Planning & Advisory</a>
      <a href="" class="quick-link"> graph</a>
      <a href="" class="quick-link">graph</a>
    </div>

    <div class="dashboard-content" id="wallet-balance">
      <a href="" class="quick-link">graph</a>
      <a href="" class="quick-link"> graph</a>
      <a href="" class="quick-link">graph</a>
    </div>
  </main>
  <footer>

  </footer>

  <script src="js/ToggleSide.js"></script>
  <SCript>  var g_walletBalance = Number('<%- JSON.stringify(g_walletBalance) %>') + ' ريال';
  </SCript>
</body>

</html>