<!DOCTYPE html>
<html lang="en">
<head>
  <!-- General Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Specific Tags -->
  <title>Page Title</title>

  <!-- Style Sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <header>
    <div class="wallet-balance">Wallet Balance: $1000</div>
    <a href="/LoginPage" class="signout-link">Sign Out</a>
  </header>
  
  <main class="home-options">
    <section class="home-option">
        <a href="/DepositPage" class="deposit-link">Add money to account</a>
    </section>
    <section class="home-option">
        <a href="/WithdrawPage" class="withdraw-link">Withdraw money from account</a>
    </section>
    <section class="home-option">
        <a href="/RiskPage" class="risk-link">Investment options</a>
    </section>
  </main>
  
  <%- include("./part/Footer.ejs") %>
</body>
</html>


