<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Home</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <header>
    <h1>Dashboard</h1>
    <div class="menu-toggle" id="toggleBtn">&#9776;</div>
    <nav id="navMenu">
      <ul>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="/deposit-page">Deposit</a></li>
        <li><a href="/withdraw-page">Withdraw</a></li>
        <li><a href="/bank-link-page">Link Bank</a></li>
        <li><a href="/login-page">Sign Out</a></li>
      </ul>
    </nav>
  </header>

  <main class="dashboard">
    <section class="quick-links">
      <a href="/PlanningAndAdv-page" class="quick-link">Planning & Advisory</a>
      <a href="/invest-options-page" class="quick-link">Investment Options</a>
      <a href="/my-invests-page" class="quick-link">My Investments</a>
    </section>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var toggleBtn = document.getElementById('toggleBtn');
      var navMenu = document.getElementById('navMenu');
      
      if (toggleBtn && navMenu) {
        toggleBtn.addEventListener('click', function() {
          navMenu.classList.toggle('show-menu');
          this.classList.toggle('active'); // Toggle active class on button
        });
      } else {
        console.error('Could not find toggleBtn or navMenu element');
      }
    });
  </script>
  
</body>

</html>
