<%- include("./part/Header.ejs") %>
  <main>
    <section>
      <article>
        <a href="/DepositPage" class="deposit-link">Add Money</a>
      </article>
    </section>
    <section>
      <article>
        <a href="/LoginPage" class="signout-link">Sign Out</a>
      </article>
    </section>   
  </main>
  <%- include("./part/Footer.ejs") %>
