<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Executive Dashboard</title>
  <link rel="stylesheet" href="css/homepage.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <header>
    <img src="" alt="Investopia Logo">
    <button class="expand-menu">≡</button>
  </header>

  <div class="layout">
    <aside class="sidebar">
      <ul class="menu">
        <li class="Li"><a href="/dashboard-page" class="selected">Dashboard</a></li>
        <li class="Li"><a href="/deposit-page">Deposit</a></li>
        <li class="Li"><a href="/withdraw-page">Withdraw</a></li>
        <li class="Li"><a href="/bank-link-page">Link Bank</a></li>
        <li class="Li"><a href="/login-page">Sign Out</a></li>
      </ul>
    </aside>

    <main>
      <div class="wallet-balance" id="wallet-balance">
        <p id="walletBalance"></p>
      </div>

      <div class="row quick-links">
        <div class="col"><a href="/invest-options-page" class="quick-link">Investment Options</a></div>
        <div class="col"><a href="/my-invests-page" class="quick-link">My Investments</a></div>
        <div class="col"><a href="/planning-advice-page" class="quick-link">Planning & Advisory</a></div>
        <div class="col"><a href="/ai2-page" class="quick-link">Ask Your Ai</a></div>
      </div>

      <div class="row">
        <div class="col">
          <div class="dashboard-content" id="analytics-graph">
            <canvas id="analyticsChart" width="400" height="200"></canvas>
          </div>
        </div>
      </div>
      <div class="row extra-content">
        <!-- Add your new content here -->
      </div>
    </main>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/data.js"></script>
  <script src="/js/toggleSide.js"></script>
  <script>
    var g_walletBalance = parseFloat(localStorage.getItem("g_walletBalance"));
    document.getElementById("walletBalance").innerText = "Wallet Balance: " + g_walletBalance.toFixed(2) + " ريال";
  </script>

</body>
</html>



