<!DOCTYPE html>
<html lang="en">

<head>
  <!-- General Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Specific Tags -->
  <title>Page Title</title>

  <!-- Style Sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <header>
    <div class="wallet-balance" id="wallet-balance">
      <p>Wallet Balance: <span>
          <%= g_walletBalance %>
      </p></span>
    </div>
    <a href="/login-page" class="signout-link">Sign Out</a>
  </header>

  <main class="home-options">
    <section class="home-option">
      <a href="/invest-options-page" class="risk-link">Investment options</a>
    </section>
    <section class="home-option">
      <a href="/withdraw-page" class="withdraw-link">Withdraw money from account</a>
    </section>
    <section class="home-option">
    <a href="/deposit-page" class="deposit-link">Deposit money to account</a>
    </section>
    <section class="home-option">
      <a href="/bank-link-page" class="risk-link">Link bank account</a>
    </section>
    <section class="home-option">
      <a href="/Planning-page" class="banks-link">Planning</a>
    </section>
    <section class="home-option">
      <a href="/Advisory-page" class="banks-link">Adviosry</a>
    </section>
    <section class="home-option">
      <a href="/finance-plan-page" class="FinancialPlanningPage-link">Financial Planning</a>
    </section>
    <section class="home-option">
      <a href="/analytics-page" class="banks-link">Your banking analytics</a>
    </section>

  </main>

  <script>
    var g_walletBalance = Number('<%- JSON.stringify(g_walletBalance) %>') + ' ريال';
  </script>
  <script src="/js/walletScript.js"></script>
  <%- include("./part/footer-part.ejs") %>