<!DOCTYPE html>
<html lang="en">

<head>
  <!-- General Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Site Specific Tags -->
  <title>Page Title</title>

  <!-- Style Sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/home.css">
  <link rel="stylesheet" href="css/root.css">
</head>

<body>
  <header>
    <nav>
      <!-- Navigation content goes here -->
    </nav>
    <!--Dummy data where our app wallet will be displayed thus it the mid point btween the width draw and deposit -->
    <div class="wallet-balance">Wallet Balance: $1000</div>
  </header>
  <main>
    <section>
      <article>
        <a href="/DepositPage" class="deposit-link">Add Money From A Card</a>
      </article>
    </section>

    <section>
      <article>
        <a href="/withdrawPage" class="withdraw-link">withdraw Money To A Card</a>
      </article>
    </section>

    <section>
      <article>
        <a href="/RiskPage" class="Risk-link">Option's To Select</a>
      </article>
    </section>

    <section>
      <article>
        <a href="/LoginPage" class="signout-link">Sign Out</a>
      </article>
    </section>
  </main>
  <%- include("./part/Footer.ejs") %>