<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Executive Dashboard</title>
  <link rel="stylesheet" href="css/investments-management.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <header>
    <div class="logo">Your Investopia</div>
    <button class="expand-menu">=</button>
  </header>
  <aside class="sidebar">
    <ul class="menu">
      <li class="Li"><a href="/deposit-page"> Deposit </a></li>
      <li class="Li"><a href="/withdraw-page">Withdraw</a></li>
      <li class="Li"><a href="/bank-link-page">Link Bank</a></li>
      <li class="Li"><a href="/login-page">Sign Out</a></li>
    </ul>
  </aside>
  <main>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="dashboard-content" id="wallet-balance">
            <a href="/options-page" class="quick-link" style="width: 300px;">High Risk</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="dashboard-content">
            <a href="/options-page" class="quick-link">Mid Risk</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="dashboard-content">
            <a href="/options-page" class="quick-link">Low Risk</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="dashboard-content">
            <a href="/home-page" class="quick-link">Back</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
  </footer>
  <script src="js/ToggleSide.js"></script>
</body>
</html>
