<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Specific Tags -->
    <title>Investements</title>

    <!-- Style Sheets -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <header>
      <!-- To be fetched dynamically from the user's-->
      <div>Initial value: $1000</div>
      <div>Current value: $1000</div>
      <div>Percentage of Profit/Loss: +10.6%</div>
      <div>View Anallysis: </div>
    </header>
    <a href="/HomePage" class="btn back-btn">Back to Homepage</a>
    <a href="/HomePage" class="btn back-btn">Stop Investment!</a>

  </body>
</html>


