<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- General Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Specific Tags -->
    <title>Investements</title>

    <!-- Style Sheets -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <header>
      <!-- To be fetched dynamically from the user's-->
      <div class="wallet-balance" id="wallet-balance">Initial value: $1000</div>
      <div class="wallet-balance" id="wallet-balance">Current value: $1000</div>
      <div class="wallet-balance" id="wallet-balance">Percentage of Profit/Loss: +10.6%</div>
      <div class="wallet-balance" id="wallet-balance">View Anallysis: </div>
    </header>
  </body>
</html>


