<%- include("./part/LoginHead") %>
<main>
  <article>
    <div class="banner" id="banner">
      <h1>Welcome to Investopia</h1>
      <img src="/css/img/BannerNoTitle.png" alt="Investopia Logo" class="logo">
    </div>
    <div class="login-container">
        <form class="login-form">
            <h2>Login</h2>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <p class="extra-links">
                <a href="#">Forgot Password</a> | <a href="../SingupPage">Sign Up</a>
            </p>
        </form>
    </div>
  </article>
</main>
  <%- include("./part/LoginFot") %>