<!DOCTYPE html>
<html lang="en">
<head>
  <!-- General Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Site Specific Tags -->
  <title>Page Title</title>
  
  <!-- Style Sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <header>
    <nav>
      <!-- Navigation content -->
    </nav>
  </header>
  
  <main>
    <div class="banner-container">
      <div class="sliding-banner">Welcome to Investopia</div>
      <img src="/css/img/BannerNoTitle.png" alt="Investopia Logo" class="banner-logo">
    </div>
    <div class="login-container">
      <form method="post" action="/login" class="login-form">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <p class="error"><%= message %></p>
        <button type="submit">Login</button>
      </form>
      <div class="login-actions">
        <a href="/forget-pass-page" class="forgot-password">Forgot Password?</a>
        <a href="/signup-page" class="signup-link">Sign Up</a>
      </div>
    </div>
  </main>

  <!-- Include the JavaScript file -->
  <script src="/js/loginValidation.js"></script>
  <%- include("./part/Footer") %>
