<!DOCTYPE html>
<html lang="en">
<head>
  <!-- general meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- site specific tags -->
  <title>Pick A invest Option</title>
  <!-- style sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/options.css">
  
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      // Function to generate random percentages
      function generateRandomPercent() {
        return Math.floor(Math.random() * 100); // Generates a random integer between 0 and 99
      }
      
      // Update button texts with random percentages
      var buttons = document.querySelectorAll('.random-percent-button');
      buttons.forEach(button => {
        var randomPercent = generateRandomPercent();
        button.textContent += " " + randomPercent + "%";
      });
    });
  </script>
</head>
<body>

  <header>
  </header>

  <main>

    <div class="contain">
        <a href="/my-invests-page"><button class="random-percent-button"> Stocks PayBack</button></a>
        <a href="/my-invests-page"><button class="random-percent-button">Real Estate PayBack</button></a>
        <a href="/my-invests-page"><button class="random-percent-button">Other Assets PayBack</button></a>
        <a href="/invest-options-page"><button>Back</button></a>
    </div>
    

  </main>

  <%- include("./part/Footer.ejs") %>
  
</body>
</html>
