<!DOCTYPE html>
<html lang="en">
<head>
  <!-- general meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- site specific tags -->
  <title>Pick An Investment Option</title>
  <!-- link to the CSS files -->
  <link rel="stylesheet" href="css/investments-management.css">
  <link rel="stylesheet" href="css/options.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      // Function to generate random percentages
      function generateRandomPercent() {
        return Math.floor(Math.random() * 100); // Generates a random integer between 0 and 99
      }
      
      // Update button texts with random percentages
      var buttons = document.querySelectorAll('.random-percent-button');
      buttons.forEach(button => {
        var randomPercent = generateRandomPercent();
        button.textContent += " " + randomPercent + "%";
      });
    });
  </script>
</head>
<body>

  <header>
    <div class="logo">Your Investopia</div>
    <button class="expand-menu">=</button>
  </header>

  <aside class="sidebar">
    <ul class="menu">
      <li class="Li"><a href="/deposit-page">Deposit</a></li>
      <li class="Li"><a href="/withdraw-page">Withdraw</a></li>
      <li class="Li"><a href="/bank-link-page">Link Bank</a></li>
      <li class="Li"><a href="/login-page">Sign Out</a></li>
    </ul>
  </aside>

  <main>

    <div class="container">
        <div class="row">
          <div class="col">
            <div class="dashboard-content">
              <a href="/place-money-page" class="quick-link random-percent-button">Stocks PayBack</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="dashboard-content">
              <a href="/place-money-page" class="quick-link random-percent-button">Real Estate PayBack</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="dashboard-content">
              <a href="/place-money-page" class="quick-link random-percent-button">Other Assets PayBack</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="dashboard-content">
              <a href="/invest-options-page" class="quick-link">Back</a>
            </div>
          </div>
        </div>
    </div>
    

  </main>

  <footer>
  </footer>
  <script src="js/ToggleSide.js"></script>
</body>
</html>
