<!DOCTYPE html>
<html lang="en">
<head>
  <!-- general meta tags -->
  <meta charset="utf-8">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- site specific tags -->
  <title></title>
  <!-- style sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/Options.css">
  
</head>
<body>

  <header>
  </header>

  <main>

    <div class="contain">
        <a href="/InvestingPage"><button> Stocks 30%</button></a>
         <a href="/InvestingPage"><button>RealStates 10%</button></a>
         <a href="/InvestingPage"><button>Other Assets 60%</button></a>
    <a href="/InvestmentsManagementPage"><button>Back</button></a>
    </div>
    

  </main>

  
    <%- include("./part/Footer.ejs") %>
  
