<!DOCTYPE html>
<html lang="en">

<head>
    <!-- general meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site specific tags -->
    <title>RiskPage</title>
    <!-- style sheets -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/Risk.css">
    <link rel="stylesheet" href="css/root.css">

</head>

<body>
    <header>

        <nav>
        </nav>
    </header>

    <main>
        <section>
            <article>
                <a href="" class="One">High-Risk</a>
            </article>
        </section>
        <section>
            <article>
                <a href="" class="Two">Mid-Risk</a>
            </article>
        </section>
        <section>
            <article>
                <a href="" class="Three">Low-Risk</a>
            </article>
        </section>
        <section>
            <article>
                <a href="/HomePage" class="Back">Back To HomePage</a>
            </article>
        </section>
    </main>

    <script>

    </script>
    <%- include("./part/Footer.ejs") %>