<!DOCTYPE html>
<html lang="en">
<head>
    <!-- General Meta Tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Specific Tags -->
    <title>RiskPage</title>

    <!-- Style Sheets -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/risk.css">
</head>
<!-- This page should be change to be Investments Mangement -->
<body>
    <header>
        <div class="wallet-balance">Wallet Balance: $1000</div>
        <a href="/LoginPage" class="signout-link">Sign Out</a>
      </header>

<!-- And change this as well -->
    <main class="risk-options">
        <!-- And change this as well -->
        <section class="risk-option">
            <p> Start Investing Today! </p>
        </section>
        <section class="risk-option">
            <a href="/HighRiskPage" class="high-risk-link">High Risk</a>
        </section>
        <section class="risk-option">
            <a href="/MidRiskPage" class="medium-risk-link">Medium Risk</a>
        </section>
        <section class="risk-option">
            <a href="/LowRiskPage" class="low-risk-link">Low Risk</a>
        </section>
<!-- This as well-->
        <section class="risk-option">
            <a href="/Investments" class="investments-link">My Investments</a>
        </section>

        <section class="navigation-option">
            <a href="/HomePage" class="back-home-link">Back to Homepage</a>
        </section>
    </main>

    <%- include("./part/Footer.ejs") %>
</body>
</html>
