<%- include("./part/Header") %>
  <main>
    <section>
      <div class="banner" id="banner">
        <h1>Sign up using the form below:</h1>
      </div>
      <form method="post">
        <div class="DivEmail">
          <input id="_Email_SignUp" type="text" name="Email" placeholder="Username">
        </div>
        <div class="DivPassword">
          <input id="_Password_SignUp" type="password" name="Password" placeholder="Password">
        </div>
        <div class="DivShowPassWord">
          <label for="ShowPassword">Show Password</label>
          <input id="_ShowPassWord_SignUp" type="checkbox" onclick="Toggle()">
        </div>
        <button class="Formsubmit" name="ShowPassword">Sign up</button>
        <a class="LinkToLogin" href="/LoginPage">Back to Login</a>
      </form>
    </section>
    <script>
      function Toggle() {
        var passwordInput = document.getElementById('_Password_SignUp');
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      }
      </script>
      
  </main>
  <%- include("./part/Footer.ejs") %>