<!DOCTYPE html>
<html lang="en">
<head>
  <!-- General Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Site Specific Tags -->
  <title>Page Title</title>
  
  <!-- Style Sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/signup.css">
  <link rel="stylesheet" href="css/root.css">
</head>
<body>
  <header>
    <nav>
      <!-- Navigation content goes here -->
    </nav>
  </header>
<main>
  <section>
    <div class="banner" id="banner">
      <h1>Sign up using the form below:</h1>
    </div>
    <form method="post">

      <div class="div-email">
        <input id="email-signup" type="email" name="email" placeholder="email">
      </div>

      <div class="div-email">
        <input id="email-signup" type="text" name="email" placeholder="Username">
      </div>

      <div class="div-password">
        <input id="password-signup" type="password" name="password" placeholder="Password">
      </div>

      <div class="div-show-password">
        <label for="show-password">Show Password</label>
        <input id="show-password-signup" type="checkbox" onclick="togglePassword()">
      </div>

      <button class="form-submit" name="showPassword">Sign up</button>
      <a class="link-to-login" href="/LoginPage">Back to Login</a>
    </form>
  </section>
  <script>
    function togglePassword() {
      var passwordInput = document.getElementById('password-signup');
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
  </script>
</main>
  <%- include("./part/Footer.ejs") %>
