<!DOCTYPE html>
<html lang="en">
<head>
  <!-- General Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Site Specific Tags -->
  <title>Signup Page</title>
  
  <!-- Style Sheets -->
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/signup.css">
  <link rel="stylesheet" href="css/root.css">
</head>
<body>
  <header>
    <nav>
      <!-- Navigation content goes here -->
    </nav>
  </header>
  <main>
    <section>
      <div class="banner" id="banner">
        <h1>Sign up using the form below:</h1>
        <% if (typeof message !== 'undefined' && message) { %>
          <p class="error-message"><%= message %></p>
        <% } %>
      </div>
      <form method="post" action="/SignupPage">
        <div class="form-field">
          <label for="email-signup">Email:</label>
          <input id="email-signup" type="email" name="email" placeholder="email" required>
        </div>
  
        <div class="form-field">
          <label for="username-signup">Username:</label>
          <input id="username-signup" type="text" name="username" placeholder="Username" required>
        </div>
  
        <div class="form-field">
          <label for="password-signup">Password:</label>
          <input id="password-signup" type="password" name="password" placeholder="Password" required>
        </div>
  
        <div class="form-field">
          <label for="show-password-signup">Show Password</label>
          <input id="show-password-signup" type="checkbox" onclick="togglePassword()">
        </div>
  
        <button type="submit" class="form-submit">Sign up</button>
        <a class="link-to-login" href="/LoginPage">Back to Login</a>
      </form>
    </section>
  </main>
  <script>
    function togglePassword() {
      var passwordInput = document.getElementById('password-signup');
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
      } else {
        passwordInput.type = "password";
      }
    }
  </script>
  <%- include("./part/Footer.ejs") %>
</body>
</html>
