<%- include("./part/TransactionHeader.ejs") %>
  <main class="main-content">
    <div class="payment-card mt-50 mb-50">
      <form method="post" class="withdraw-form">
        <!-- Input for withdrawal amount -->
        <fieldset class="withdraw-details">
          <div class="form-group">
            <label for="amount">Amount</label>
            <!-- step="0.01": To for Allow fractions (decimal numbers) & min="0" To repvent negative numbers-->
            <input id="amount" type="number" step="0.01" min="0" placeholder="e.g: 1000.00 SAR" required title="Please enter amoun">
          </div>
          <!-- Input for IBAN -->
          <div class="form-group">
            <label for="card-number">IBAN</label>
            <input id="card-number" type="text" placeholder="e.g: SA1234567890123456789012" required pattern="[A-Za-z0-9]{20,34}" title="Please enter a valid IBAN.">
          </div>
          <!-- Checkbox for confirmation -->
          <div class="withdraw-container">
          <label for="confirmation-checkbox" class="withdraw-label">I confirm this withdrawal</label>
          <input id="confirmation-checkbox" type="checkbox" required name="confirmation" class="withdraw-checkbox">
          </div>
          <button type="submit" class="btn withdraw-btn">Withdraw</button>
          <a href="/home-page" class="btn back-btn">Back to Homepage</a>
        </fieldset>
      </form>
    </div>
  </main>

  <script>
    var g_walletBalance = Number('<%- JSON.stringify(g_walletBalance) %>')+' ريال';
  </script>
  <script src="/js/walletScript.js"></script>
  <%- include("./part/Footer.ejs") %>