<!DOCTYPE html>
<html lang="en">

<head>
    <!-- general meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- site specific tags -->
    <title>withdraw</title>
    <!-- style sheets -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/withdraw.css">
    <link rel="stylesheet" href="css/root.css">


</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <section>
            <form action="" method="post">

            </form>
        </section>
    </main>

    <!-- javascript files -->
    <script>

    </script>

    <footer>
    </footer>
</body>

</html>