body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .payment-card {
    width: 600px;
    margin: 20px auto 90px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-logo-img,
  .payment-details label,
  .payment-details a {
    color: #007bff;
  }

  .legend{
    margin-bottom: 15px;
  }
  
  .payment-details button {
    color: white;
  }
  
  .payment-details input {
    color: black;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .pay-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .back-btn {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
  }
  
  .pay-btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 767px) {
    .payment-card {
      width: 90%;
      padding: 1.5rem;
    }
  }
  
  @media (height: 1366px) {
    .payment-card {
      padding: 8vh;
    }
  }
  
  .payment-details a:hover,
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .payment-details input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  
  .payment-details input:focus:-moz-placeholder {
    color: transparent;
  }
  
  .payment-details input:focus::-moz-placeholder {
    color: transparent;
  }
  
  .payment-details input:focus:-ms-input-placeholder {
    color: transparent;
  }
  
  /* Footer Styles */
  .page-footer {
    color: #666;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content p {
    margin: 0;
    padding: 0;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
  }
  