body {
    background-color: #f0f0f0;
  }
  
  section {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 30px;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
    color: black;
    margin: 0 0 50px;
  }
  
  .link {
    margin: 5px 0;
    color: #007bff;
    text-decoration: none;
    position: relative;
  }
  
  .link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: royalblue;
    transition: width 0.5s;
  }
  
  .link:hover::before {
    width: 100%;
  }
  