/* Body Styles */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Banner Styles */
.banner {
  align-items: center;
  background-color: #007bff;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
  padding: 30px 20px 30px;
}

.banner h1 {
  font-size: 24px;
  margin: 0;
}

.banner .logo {
  height: 50px;
}

/* Forget Container Styles */
.forget-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 200px;
  max-width: 400px;
  padding: 20px;
}

/* Input Fields Styles */
input[type="email"],
button[type="submit"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 12px;
}

input[type="email"] {
  width: 94.7%;
}

/* Link Styles */
.link-to-login {
  display: flex;
  justify-content: space-between;
  width: 10%;
  text-decoration: none;
  color: #007bff;
  margin-top: 15px;
}

.login-actions a:hover {
  text-decoration: underline;
}

/* Button Styles */
button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Footer Styles */
.page-footer {
  color: #666;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #007bff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
