body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5rem;
}

.sidebar {
  width: 0;
  height: 100%;
  background-color: #073c76;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: width 0.5s ease; /* Modified transition */
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin: 35px; /* Adjust margin */
  color: #fff;
}

.main-content {
  margin-right: 0;
  padding: 20px;
}

footer {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.quick-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 200px;
  height: 100px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.quick-link:hover {
  background-color: #0056b3;
}

.Li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  margin: 10px 0; /* Adjust margin */
}

.Li:hover {
  background-color: #0056b3;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease; /* Add animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
