header {
  margin-bottom: 75px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f0f2;
}

.home-options {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 20px;
}

.action {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  flex-direction: column;
}

.home-option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
  flex-direction: column;
}

a.signout-link,
a.deposit-link,
a.withdraw-link,
a.risk-link,
a.banks-link,
a.FinancialPlanningPage-link {
  text-decoration: none;
  color: #007bff;
  background-color: #f8f9fa;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

a.signout-link{
  position: absolute;
  top: 21px;
  left: 20px;
}

a.signout-link:hover,
a.deposit-link:hover,
a.withdraw-link:hover,
a.risk-link:hover,
a.banks-link:hover,
a.FinancialPlanningPage-link {
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.wallet-balance {
  position: absolute;
  top: 20px;
  right: 20px; 
  background-color: #f8f9fa; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  color: #007bff;
}

/* Footer */
.page-footer {
  color: #666;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 90%;
  margin-left: 4.5%;
}

.footer-content p {
  margin: 0;
  padding: 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
