section{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/*Form Attrbutes*/
form{

    display: flex; flex-direction: column; 
    align-items: center;justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*EmailDiv Attrbutes*/
.DivEmail{ 
    margin: 30px; 
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;}


    .DivEmail input{ 
        padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;

        }

    /*PasswordDiv Attrbutes*/
.DivPassword{ 
    margin: 30px; 
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;}


    .DivPassword input{ 
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: center;
        margin-top: 5px;
    }

/*ShowPassWordDiv Attrbutes*/
    .DivShowPassWord{ margin: 30px; 
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;}

        .DivShowPassWord input[type="checkbox"] {
            margin-left: 50%;
            margin-bottom:10px ;
            margin-top: 5px;
          }

  /* Submit Button Attributes */
.Formsubmit {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: transform 0.5s;
}

/* Submit Button Attributes When You Hover */
.Formsubmit:hover {
    background-color: #0056b3;
    transform: scale(1.2) translateY(-10px); 
    transition: transform 0.5s;
    
}

.Formsubmit:active {
    background-color: #0056b3;
    transform: scale(0.9) translateY(-5px); 
    transition: transform 0.5s;
 
}
/* for the back link*/
.LinkToLogin {
    margin: 5px;
    color: #007bff;
    text-decoration: none;
    position: relative; 
}

.LinkToLogin::before {
    content: '';
    height: 2px; 
    background-color: #007bff;
    transition: width 0.5s; 
    position: absolute;
    bottom: -2px; 
    left: 0;
    width: 0; 
}

.LinkToLogin:hover::before {
    width: 100%; 
}



    /* For Banner*/
    .banner {
        position: fixed;
        top: -50px; 
        left: -100%; 
        width: 105%;
        background-color: #f4f4f4;
        color: black;
        padding: 10px 0;
        padding-top: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: slideIn 1s forwards; 
    }
    
    .banner h1 {
        margin: 0 10px 0 0;
    }
    
    .logo {
        width: 65px;
        height: auto;
    }
    
    @keyframes slideIn {
        to {
            left: 0;
        }
    }

