main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}

/* Banner */
.banner {
  align-items: center;
  background-color: #007bff;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
  padding: 30px 20px 30px;
}

.banner h1 {
  font-size: 24px;
  margin: 0;
}

.banner .logo {
  height: 50px;
}

/* Body */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

/* Error Message */
.error-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

/* Footer */
.footer-content p {
  margin: 0;
  padding: 0;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #007bff;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.page-footer {
  bottom: 0;
  color: #666;
  margin-left: 4.5%;
  padding: 20px 0;
  position: absolute;
  text-align: center;
  width: 90%;
}

/* Form */
form h2 {
  color: #333;
  text-align: center;
}

form div {
  margin-bottom: 15px;
}

/* Link to Login */
.link-to-login {
  color: #007bff;
  display: block;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}

.login-actions a:hover {
  text-decoration: underline;
}

/* Signup Form */
.signup-form {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
  padding: 20px 20px 30px;
}

.signup-form .form-field {
  margin-bottom: 15px;
}

.signup-form .form-field label {
  display: inline-block;
  margin-bottom: 5px;
}

.signup-form .form-submit {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.signup-form .form-submit:hover {
  background-color: #0056b3;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
}

.signup-form .form-field input[type="checkbox"] {
  cursor: pointer;
  margin-left: 5px;
}

/* Success Message */
.success-message {
  color: green;
  margin-bottom: 10px;
  text-align: center;
}
